In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_palette("Set2")

df = pd.read_csv('Loan-Approval-Prediction.csv')

categorical = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Credit_History', 
               'Property_Area', 'Loan_Amount_Term']

numerical = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

### Impute missing values

- For the categorical columns (and the loan term), we'll replace all nulls with the most frequent value. Given that 8% of the credit history values are null, this isn't ideal, but they mostly (~84%) take the value 1, so this seems reasonable in this case.
- Since the other numerical columns are right-skewed, we'll replace the nulls with the median.

In [40]:
#Check nulls
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [41]:
# Impute the missing values with mean imputation
value = {'LoanAmount': df['LoanAmount'].median()}
df.fillna(value=value, inplace=True)

In [42]:
#Impute missing values with most frequent value
for col in categorical:
    value = df[col].value_counts().index[0]
    df[col].fillna(value=value, inplace=True)

In [43]:
#Check for nulls in data
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

### Preprocessing

First we'll recast our datatypes where appropriate.

In [52]:
df = df.astype({'CoapplicantIncome': 'int64', 
           'LoanAmount': 'int64', 
           'Loan_Amount_Term': 'int64', 
           'Credit_History': 'int64'})

In [55]:
df.dtypes

Loan_ID              object
Gender               object
Married              object
Dependents           object
Education            object
Self_Employed        object
ApplicantIncome       int64
CoapplicantIncome     int64
LoanAmount            int64
Loan_Amount_Term      int64
Credit_History        int64
Property_Area        object
Loan_Status          object
dtype: object